---
// COMPONENTS
import Layout from "@/layouts/Layout.astro";
import InternalHero from "@/components/InternalHero.astro";
import ContactForm from "@/components/ContactForm.astro";
import Heading from "@/components/Heading.astro";
import FAQ from "@/components/FAQ.astro";

// IMAGES
import stainRemover from "@/assets/stainRemover.jpg";
import InternalHeroAlt from "@/components/InternalHeroAlt.astro";
---

<Layout
  pageTitle="Get in Touch"
  description="Call, text, or fill out the form below and we’ll get back to you as soon as we can. If it’s something urgent, calling is always the fastest way to reach us."
  hideCTA={true}
>
  <InternalHeroAlt title="Get In Touch" ariaLabel="Get In Touch Hero Section">
    <p>
      Call, text, or fill out the form below and we’ll get back to you as soon as we can. If it’s
      something urgent, calling is always the fastest way to reach us.
    </p>
  </InternalHeroAlt>

  <section class="contact bg-light">
    <div class="container container-lg">
      <div class="content-lg contact__form">
        <Heading tag="h2" size="xl" fontFamily="primary" marginBottom="m" weight="fw800"
          >Send Us a Message</Heading
        >
        <p>Please fill out the form below and we will get back to you as soon as possible.</p>
        <ContactForm />
      </div>
    </div>
  </section>
</Layout>
