---
// COMPONENTS
import CTA from "@/components/CTA.astro";
import GalleryComponent from "@/components/Gallery.astro";
import Layout from "@/layouts/Layout.astro";
import InternalHero from "@/components/InternalHero.astro";

// IMAGES
import garageHome4 from "@/assets/garageHome4.jpg";
import homeGarage1 from "@/assets/homeGarage1.jpeg";
import homeGarage2 from "@/assets/homeGarage2.jpeg";
import homeGarage3 from "@/assets/homeGarage3.jpeg";
import homeGarage4 from "@/assets/homeGarage4.jpeg";
import doorInsulation from "@/assets/doorInsulation.jpeg";
import doorInsulation2 from "@/assets/doorInsulation2.jpeg";
import doorInsulation3 from "@/assets/doorInsulation3.jpeg";

// Data for Image Slider
const projects = [
  { src: homeGarage1, alt: "Garage Home", id: "slide-1" },
  { src: homeGarage2, alt: "Garage Home", id: "slide-2" },
  { src: homeGarage3, alt: "Garage Home", id: "slide-3" },
  { src: homeGarage4, alt: "Garage Home", id: "slide-4" },
  { src: doorInsulation, alt: "Door Insulation", id: "slide-5" },
  { src: doorInsulation2, alt: "Door Insulation", id: "slide-6" },
  { src: doorInsulation3, alt: "Door Insulation", id: "slide-7" },
];
---

<Layout
  pageTitle="Gallery"
  description="Browse our gallery featuring a variety of garage door styles, installation examples, and options from leading suppliers. See the quality and craftsmanship we bring to every project."
>
  <InternalHero
    pageTitle="Gallery"
    title="Garage Door Options & Installations"
    subtitle="Explore our collection of garage door styles, recent installations, and quality options from trusted suppliers. Find inspiration for your next garage door project."
    ariaLabel="Gallery Hero Section"
    imageSrc={garageHome4}
    imageAlt="Lambo's Garage Door Service Gallery"
  />
  <section class="projects bg-light" aria-label="Garage Door Gallery">
    <div class="container container-md projects__container">
      <GalleryComponent items={projects} />
    </div>
  </section>

  <CTA />
</Layout>
