---
// COMPONENTS
import Heading from "@/components/Heading.astro";
import Links from "@/components/Links.astro";
import ServicesCard from "@/components/ServicesCard.astro";
---

<section class="services">
  <div class="container container-md column-main services__container">
    <div class="services__intro">
      <Heading tag="h2" size="xl" fontFamily="primary" marginBottom="l" weight="fw500">
        Our Garage Door Services
      </Heading>
      <p>
        At Lambo's Garage Door Service, I provide a full range of garage door services to homeowners
        throughout Middle Tennessee. Whether you need a quick repair, a new door installation or
        regular maintenance, I am here to help. Below are some of the most popular services I offer:
      </p>
      <Links href="/services" variant="primary"> View All Services </Links>
    </div>
    <div class="services__grid">
      <ServicesCard />
    </div>
  </div>
</section>

<style lang="scss">
  .services {
    &__container {
      align-items: flex-start;
      flex-direction: row;

      @media (max-width: 1024px) {
        flex-direction: column;
      }
    }

    &__intro {
      position: sticky !important;
      top: 15rem;
      width: 50%;

      @media (max-width: 1024px) {
        position: static !important;
        width: 100%;
      }
    }

    &__grid {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: var(--_spacing---space--6);

      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
</style>
