---
import Heading from "@/components/Heading.astro";

interface CardItem {
  title: string;
  description: string;
  number?: number;
}

interface Props {
  cardData: CardItem[];
}

const { cardData } = Astro.props as Props;
---

<div class="card-grid grid-auto-3">
  {
    cardData.map((card, index) => (
      <div class="card bg-white">
        <span class="card__number">
          <p>Step {card.number ?? index + 1}</p>
        </span>
        <div class="card-grid__content">
          <Heading tag="h3" size="s" fontFamily="primary" marginBottom="m" weight="fw800">
            {card.title}
          </Heading>
          <p>{card.description}</p>
        </div>
      </div>
    ))
  }
</div>

<style lang="scss">
  .card-grid {
    .card {
      &__number {
        width: fit-content;
        padding: 0.4rem 0.75rem;
        border-radius: var(--border-radius-round);
        background: var(--dark-900);
        margin-bottom: 1rem;

        p {
          color: var(--light-100);
          font-weight: 700;
          font-size: 0.8rem;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 0;

          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
</style>
