---
import Heading from "@/components/Heading.astro";

interface CardItem {
  title: string;
  description: string;
  number?: number;
}

interface Props {
  cardData: CardItem[];
}

const { cardData } = Astro.props as Props;
---

<div class="card-grid grid-auto-4">
  {
    cardData.map((card, index) => (
      <div class="card-grid__card">
        <div class="card-grid__icon">
          <span>{card.number ?? index + 1}</span>
        </div>
        <div class="card-grid__content">
          <Heading tag="h3" size="m" fontFamily="primary" marginBottom="m" weight="fw800">
            {card.title}
          </Heading>
          <p>{card.description}</p>
        </div>
      </div>
    ))
  }
</div>

<style lang="scss">
  .card-grid {
    &__card {
      padding: 1rem;
      border-radius: var(--border-radius-small);
      background-color: var(--light-100);
      display: flex;
      flex-direction: column;
      gap: var(--_spacing---space--6);
    }

    &__icon {
      width: 60px;
      height: 60px;
      background: var(--brand-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border: 1px solid var(--dark-900);

      @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
      }

      span {
        color: var(--light-100);
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1;

        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    &__content {
      text-align: left;
    }
  }
</style>
