---
// HELPERS
import { Picture } from "astro:assets";

// IMAGES
import lambo1 from "@/assets/lambo1.jpeg";
import lambo2 from "@/assets/lambo2.jpeg";
import lambo3 from "@/assets/lambo3.jpg";
import lambo4 from "@/assets/lambo4.jpg";
import lambo5 from "@/assets/lambo5.mp4";
import lambo6 from "@/assets/lambo6.jpg";

const items = [
  { src: lambo1, alt: "Lambo the dog", type: "photo" },
  { src: lambo2, alt: "Lambo the dog", type: "photo" },
  { src: lambo3, alt: "Lambo the dog", type: "photo" },
  { src: lambo4, alt: "Lambo the dog", type: "photo" },
  { src: lambo5, alt: "Lambo the dog video", type: "video" },
  { src: lambo6, alt: "Lambo the dog", type: "photo" },
];
---

<section>
  <div class="scrolling-photos">
    <div class="scrolling-photos__inner">
      {
        items.map(item => (
          <div class="scrolling-photos__item">
            <div class="scrolling-photos__img-wrapper">
              {item.type === "video" ? (
                <video
                  src={item.src as any}
                  class="scrolling-photos__img"
                  autoplay
                  muted
                  loop
                  playsinline
                  aria-label={item.alt}
                  disablepictureinpicture
                  preload="metadata"
                />
              ) : (
                <Picture
                  src={item.src as any}
                  formats={["avif", "webp"]}
                  alt={item.alt}
                  class="scrolling-photos__img"
                  loading="lazy"
                  quality={60}
                  width={500}
                  height={500}
                  widths={[300, 500]}
                  sizes="(max-width: 768px) 300px, 500px"
                />
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  /* SCROLLING PHOTOS MARQUEE */
  .scrolling-photos {
    max-width: 100%;
    width: fit-content;
    margin: auto;
    overflow: hidden;
    background-color: var(--light-100);

    &__inner {
      margin: 0;
      padding: 1rem 0;
      list-style: none;
      display: flex;
      gap: 1rem;
      width: max-content;
      flex-wrap: nowrap;
      animation: scrollPhotos 80s reverse linear infinite;

      @media screen and (max-width: 768px) {
        animation: scrollPhotos 150s reverse linear infinite;
      }
    }

    &__item {
      position: relative;
    }

    &__img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: var(--border-radius-small);

      img,
      video {
        height: 500px;
        max-width: 100vw;
        width: auto !important;
        object-fit: cover;
        vertical-align: middle;
        display: inline-block;

        @media screen and (max-width: 768px) {
          height: 300px;
        }
      }
    }
  }

  @keyframes scrollPhotos {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
</style>

<script>
  const scrollPhotos: NodeListOf<HTMLElement> =
    document.querySelectorAll<HTMLElement>(".scrolling-photos");

  if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
    scrollingPhotos();
  }

  function scrollingPhotos(): void {
    scrollPhotos.forEach((scroller: HTMLElement) => {
      scroller.setAttribute("data-animated", "true");

      const scrollPhotosInner: HTMLElement | null = scroller.querySelector<HTMLElement>(
        ".scrolling-photos__inner"
      );
      if (scrollPhotosInner) {
        const scrollContent: HTMLElement[] = Array.from(
          scrollPhotosInner.children
        ) as HTMLElement[];

        for (let i = 0; i < 3; i++) {
          scrollContent.forEach((item: HTMLElement) => {
            const duplicatedItem: HTMLElement = item.cloneNode(true) as HTMLElement;
            duplicatedItem.setAttribute("aria-hidden", "true");
            scrollPhotosInner.appendChild(duplicatedItem);
          });
        }
      }
    });
  }
</script>
